body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	border: 0;
	padding: 2px;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	border-top: 1px solid #b7b7b7;
}
fieldset {
	border:none;
	padding-top: 0px;	
}

#cabecalho {
	width: 100%;
	height: 85px;
	border-bottom: 1px solid #b7b7b7;
}

#cabecalho h1 {
	float: left;
	display: block;
	width: 200px;
	height: 50px;
	border-right: 1px solid #b7b7b7;
	font-size: 20px;
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

#cabecalho .logo {
	float: left;	
	padding: 5px 80px 10px;
	border-right: 1px solid #b7b7b7;
	
}

#cabecalho h2 {
	float: left;
	display: block;
	width: 225px;
	height:65px;
	border-right: 1px solid #b7b7b7;
	font-size: 24px;
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

#cabecalho .codigo-data {
	float: left;
	width: 225px;
	height: 60px;
	margin: 0;
	padding: 5px;
	padding-top: 30px;
	font-size: 12px;
}

#cabecalho .codigo-data strong {
	display: block;
	margin-bottom: 12px;
}

#dados-gerais {
	clear: both;
	border-bottom: 1px solid #b7b7b7;
	font-size: 12px;
}

#dados-gerais table {
	width: 100%;
	height:100%;
}

#dados-gerais table td {
	font-weight: normal;
}

#dados-gerais table .right-align {
	width: 100px;
	text-align: right;
	padding-right: 5px;
	font-weight: normal;
}
#dados-gerais table .orcliente {
	width: 100px;
	text-align: right;
	padding-right: 5px;
	font-weight: normal;
}

#dados-gerais table .left-align {
	width: 100px;
	text-align: left;
	padding-right: 5px;
	font-weight: normal;
}

#prazos {
	clear: both;
	border-bottom: 1px solid #b7b7b7;
	font-size: 10px;
}

#prazos table {
	width: 100%;
}

#prazos table thead {
	background: #f3f3f3;
}

#prazos table tbody {
	
}

#prazos table tfoot {
	border-top: 1px solid #000;
}

#prazos table td {
	font-weight: bold;
}

#prazos table .col-1 {
	width: 160px;
}

.grid {
	width: 970px;
	display: block;
	margin-left: 9px;
	font-size: 11px;
	margin-bottom: 40px;
	margin-top: 0px;	
}

.grid table {
	width: 670px;
	font-size: 11px;
}
.grid select{
	width: auto;
	height: 16px;
	padding: 0;
}
.grid input.input{
	width: 150px;
}
.grid textarea.descricao{
	width: 500px;
	height: 50px;
}
.grid textarea{
	width: 780px;	
}
.grid table thead tr {
	background: #c6c6c6;
}

.grid table tbody tr {
	background: #f5f5f5;
}

.grid table tbody tr.par {
	background: #e6e6e6;
} 

.grid table td {
	padding: 0 4px;
	vertical-align: top;
}

.grid table tbody td.grid-action {
	padding: 0;
	width: 50px;
}
.grid table td.grid-action a {
	display: block;
	width: auto;
	min-width: 14px;
	height: 12px;
	text-indent: -999999999px;
	font-size: 0;
	letter-spacing: 0;
	margin: 2px 0;
}
.grid-auto {
	width: 970px;
	display: block;
	margin-left: 9px;
	font-size: 11px;
	margin-bottom: 40px;
	margin-top: 0px;	
}

.grid-auto table {
	width: auto;
	font-size: 11px;
}
.grid-auto select{
	width: auto;
	height: 16px;
	padding: 0;
}
.grid-auto input.input{
	width: 150px;
}
.grid-auto textarea.descricao{
	width: 500px;
	height: 50px;
}
.grid-auto textarea{
	width: 780px;	
}
.grid-auto table thead tr {
	background: #c6c6c6;
}

.grid-auto table tbody tr {
	background: #f5f5f5;
}

.grid-auto table tbody tr.par {
	background: #e6e6e6;
} 

.grid-auto table td {
	padding: 0 4px;
	vertical-align: top;
}

.grid-auto table tbody td.grid-action {
	padding: 0;
	width: 50px;
}
.grid-auto table td.grid-action a {
	display: block;
	width: auto;
	min-width: 14px;
	height: 12px;
	text-indent: -999999999px;
	font-size: 0;
	letter-spacing: 0;
	margin: 2px 0;
}
.grid3 {
	width: 970px;
	display: block;
	margin-left: 9px;
	font-size: 11px;
	margin-bottom: 40px;
	margin-top: 0px;	
}

.grid3 table {
	width: 670px;
	font-size: 11px;
}
.grid3 select{
	width: auto;
	height: 16px;
	padding: 0;
}
.grid3 input.input{
	width: 150px;
}
.grid3 textarea.descricao{
	width: 500px;
	height: 50px;
}
.grid3 textarea{
	width: 780px;	
}
.grid3 table thead tr {
	background: #c6c6c6;
}

.grid3 table tbody tr {
	background: #f5f5f5;
}

.grid3 table tbody tr.par {
	background: #e6e6e6;
} 

.grid3 table td {
	padding: 0 4px;
	vertical-align: top;
}

.grid3 table tbody td.grid-action {
	padding: 0;
	width: 50px;
}
.grid3 table td.grid-action a {
	display: block;
	width: auto;
	min-width: 14px;
	height: 12px;
	text-indent: -999999999px;
	font-size: 0;
	letter-spacing: 0;
	margin: 2px 0;
}

#briefings {
	clear: both;
	font-size: 10px;
	margin: 3px;
}

#briefings h3 {
	margin: 3px 0 0;
	font-size: 16px;
}

#briefings #briefings-dinamico h4 {
	font-size: 12px;
	margin: 3px 0 1px;
}

#briefings #briefings-dinamico p {
	font-size: 10px;
	margin: 2px 0 10px;
}

#setores-envolvidos h3 {
	margin: 3px 2px 0;
	font-size: 16px;
}

#setores-envolvidos h4 {
	margin: 3px 2px 0;
	font-size: 14px;
}

#setores-envolvidos h5 {
	margin: 3px 2px 0;
	font-size: 14px;
	border-top: 1px solid #e9e9e9;
}

#setores-envolvidos h6 {
	margin: 3px 2px 0;
	font-size: 12px;
}

#setores-envolvidos p {
	font-size: 10px;
	margin: 2px 2px 10px;
}

#setores-envolvidos #ultimo-briefing,
#setores-envolvidos #historico-bri {
	border-bottom: 1px solid #e9e9e9;
}/* CSS Document */

